---
import LayoutControlAcceso from "../layouts/servicios-layout.astro"
---

<!--------------------------------------HTML----------------------------------------------->
<LayoutControlAcceso>
    <div slot="encabezado">
        <h2 class="text-orange-500 text-base font-bold uppercase mb-2">
            Control de Acceso
        </h2>
        <h1 class="text-4xl lg:text-6xl font-bold mb-4">
            Protege tus Instalaciones con Nuestros Avanzados Sistemas de Control de Acceso
        </h1>
        <p class="mt-4 text-gray-600 mb-8 text-lg">
            Ofrecemos soluciones avanzadas de control de acceso que garantizan la seguridad y protección de sus instalaciones. <br>
            Nuestros sistemas incluyen tarjetas de proximidad, control remoto y más permitiéndole gestionar de manera eficiente quién puede ingresar a sus áreas restringidas. <br>
        </p>
        <div class="mt-12">
            <img alt="Top view of a workspace with laptops, coffee, and notebooks" class="mx-auto rounded-lg shadow-lg" height="400" src="https://blog.nuoplanet.com/hubfs/portada_mejor%20solucion%20control%20de%20accesos_nuo.jpg" width="800"/>
        </div>
    </div>

    <!--------------------------------------- VIDEOS APLICATIVOS --------------------------------------------->

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730145832/IDscreen.mp4" type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        
        <h2 class="text-xl font-semibold">
            ID Screen
        </h2>
        <p class="text-justify">
            Tableta biométrica que controla el registro, verificación y procesamiento para el acceso en áreas designadas.                
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730135441/sywrhuwalcqorklbzzxa.mp4" type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            VisionPass SP
        </h2>
        <p class="text-justify">
            Control de acceso multifactorial con reconocimiento facial integrado con inteligencia artificial.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730135803/zqndlb9vlsd37pung1rm.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            BioStation 3
        </h2>
        <p class="text-justify">
            Lector biométrico para administrar el acceso de los visitantes en cualquier momento y lugar.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730135532/z07gzq4h95jzvbos4sdl.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            Door Station
        </h2>
        <p class="text-justify">
            Estación inalámbrica con reconocimiento facial, captura videos y permite hablar con visitantes.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730146238/fcblco3pmhmccqxg8fh1.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            Transit Ultimate
        </h2>
        <p class="text-justify">
            Lector moderno de largo alcance. Identificando vehículos y usuarios en condiciones difíciles.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730146300/lmayfkmikiivaewobhmu.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            Salto JustIN Mobile
        </h2>
        <p class="text-justify">
            Cerradura inteligente inalámbrica para control de acceso via smartphone.
        </p>
    </div>
                

    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/videovigilancia">
        <i class="ri-arrow-left-line"></i>
        Videovigilancia
    </a> 
                
    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/iot-automatizacion">
        IoT y Automatización
        <i class="ri-arrow-right-line"></i>
    </a> 

</LayoutControlAcceso>
