---
import VistaPrincipal from "../components/vista-principal.astro"
import Gallery from "../components/Gallery.astro"
import VistaVideovigilancia from "../components/vista-videovigilancia.astro"
import VistaServicios from "../components/vista-servicios.astro"
import VistaClientes from "../components/vista-clientes.astro"
import Navbar from "../components/navbar.astro"
import FormContacto from "../components/form-contacto.astro"
import Footer from "../components/footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../public/images/short-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Block Security</title>

		<!-- TAILWIND -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

		<!-- ICONS -->
		<link
		href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
		rel="stylesheet"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>
	<body>
		<Navbar />
		<VistaPrincipal client:load />
		<VistaServicios client:load/>
		<VistaClientes client:load/>
		<FormContacto client:load/>
		<Footer client:load>

	</body>
</html>
