---
import VistaPrincipal from "../components/vista-principal.astro"
import Gallery from "../components/Gallery.astro"
import VistaVideovigilancia from "../components/vista-videovigilancia.astro"
import VistaServicios from "../components/vista-servicios.astro"
import VistaClientes from "../components/vista-clientes.astro"
import Navbar from "../components/navbar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<!-- TAILWIND -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

		<!-- ICONS -->
		<link
		href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
		rel="stylesheet"/>

	</head>
	<body>
		<Navbar />
		<!--VistaPrincipal client:load /-->
	
	</body>
</html>
