---
import VistaPrincipal from "../pages/main.astro"
import Gallery from "../components/Gallery.astro"
import VistaVideovigilancia from "../pages/videovigilancia.astro"
import VistaServicios from "../pages/servicios.astro"
import VistaClientes from "../pages/clientes.astro"
import FormContacto from "../components/form-contacto.astro"
import Footer from "../components/footer.astro"
import NavMain from "../components/navbar-main.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../public/images/short-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Block Security</title>

		<!-- TAILWIND -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

		<!-- FLOWBITE  -->
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

		<!-- ICONS -->
		<link
		href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
		rel="stylesheet"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>
	<body>
		<NavMain client:load/>
		<VistaPrincipal client:load />
		<VistaServicios client:load/>
		<VistaClientes client:load/>
		<FormContacto client:load/>
		<Footer client:load>
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

	</body>
</html>
