---
import VistaPrincipal from "../pages/main.astro"
import Gallery from "../components/Gallery.astro"
import VistaVideovigilancia from "../pages/videovigilancia.astro"
import VistaServicios from "../pages/servicios.astro"
import VistaClientes from "../pages/clientes.astro"
import FormContacto from "../components/form-contacto.astro"
import Footer from "../components/footer.astro"
import NavMain from "../components/navbar-main.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../public/images/short-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Block Security</title>

		<!-- TAILWIND -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

		<!-- FLOWBITE  -->
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

		<!-- ICONS -->
		<link
		href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
		rel="stylesheet"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>
	<body>

		<div class="intro">
			<h1 class="logo-header">
				<span class="logo">Block</span><span class="logo"> Security</span>
				<br>
				<img class= "imgL" src="../../public/images/short-logo.png" alt="">
			</h1>
		</div>
		
		<script src="./intro-app.js"></script>

		<NavMain client:load/>
		<VistaPrincipal client:load />
		<VistaServicios client:load/>
		<VistaClientes client:load/>
		<FormContacto client:load/>
		<Footer client:load>
		<!-- SCRIPT FLOWBITE -->	
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

	</body>
</html>

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* Splash Screen */
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.imgL {
    height: 200px;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
</style>
