---
import '@fontsource/outfit/200.css';
---

<!--------------------------------------HTML----------------------------------------------->
<html>

<head>
    <title>
        Block Security
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-white">

    <!-- Header -->
    <header class="text-center py-8">
        <img alt="" class="mx-auto" height="100" src="../../public/images/logo.png" width="300px" />
    </header>

<!------------------------------------------------------ IMAGEN PROMOCIONALDEL SITIO ------------------------------------------------------>
    <main>
        <!-- Hero Section -->
        <section class="relative">

            <img alt="" class="w-full h-96 object-cover" height="600" src="../../public/images/motivo-block-white.png" width="1920" />
            <div class="absolute inset-0 flex items-center justify-center text-center text-gray-800">
                <div>
                    <h2 class="titulo text-3xl lg:text-5xl md:text-3xl sm:text-2xl font-bold">
                        Proveemos soluciones personalizadas <br>
                        en seguridad e infraestructura


                    </h2>
                    <p class="mt-4 text-pretty lg:text-2xl font-medium">
                        Integrando tecnología en la nube de manera eficiente
                        y confiable para proteger los activos y <br>
                        personas de corporaciones, asegurando 
                        así relaciones duraderas.
                    </p>
                </div>
            </div>

            <!--
            <div class="absolute inset-y-0 left-0 flex items-center">
                <button class="text-white text-2xl px-4">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center">
                <button class="text-white text-2xl px-4">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            -->

        </section>
<!------------------------------------------------------ IMAGENES PROMOCIONALES DEL SITIO ------------------------------------------------------>
        <section class="py-12">
            <div class="container mx-auto px-4">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                    <div class="relative animated animatedFadeInUp fadeInUp">
                        <img alt="" class="w-full h-96 object-cover rounded-xl" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/ezgif.com-video-to-gif-converter.gif"/>
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-xl">
                            <h3 class="text-white text-4xl text-center">
                                Diseño y Auditoría de proyectos
                            </h3>
                        </div>
                    </div>

                    <div class="relative animated animatedFadeInUp fadeInUp">
                        <img alt="" class="w-full h-96 object-cover rounded-xl" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/18031-287831468_small-ezgif.com-video-to-gif-converter.gif" />
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-xl">
                            <h3 class="text-white text-4xl">
                                Implementación
                            </h3>
                        </div>
                    </div>

                    <div class="relative animated animatedFadeInUp fadeInUp">
                        <img alt="" class="w-full h-96 object-cover rounded-xl" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/serviciotecnico-ezgif.com-video-to-gif-converter.gif" />
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-xl">
                            <h3 class="text-white text-4xl">
                                Servicio Técnico
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>
<!------------------------------------------------------ FORM ------------------------------------------------------>

<!-----------------------------------------BODY MAIN---------------------------------------------->
    </main>
</body>

</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style>

body {
  font-family: 'Outfit', sans-serif;
}

/************ IMAGENES PROMOCIONALES DEL SITIO ***********/
.imagen{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.titulo{
    line-height: 1.2;
}

/************ NUESTROS SERVICIOS ************/

@media (min-width: 100%) {
    .container2{
        max-width: 100%;
    }
}

.divider {
    margin: 5rem 0;
}

.titulo2{
    display: block;
    text-align: centext-base	ter;
    font-size: 43px;
    margin: 100px;
}

.contenedor{
    position: relative;
    text-align: center;
}

.imagenFondo{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);  /* 60% de brillo */
    height: 493px; 
    padding-bottom: 60px;
}

.botonServicio{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #f47d1f;
    padding: 18px;
    font-weight: bold;
}

/************ NUESTROS CLIENTES ***********/
.titulo3{
    display: block;
    text-align: center;
    font-size: 43px;
    margin: 30px;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

</style>