---
import '@fontsource/ibm-plex-sans';

import '@fontsource-variable/open-sans';
---

<!--------------------------------------HTML----------------------------------------------->
<html>

<body class="bg-white">

<!-----------------------------------------NUESTROS SERVICIOS---------------------------------------------->
<div class="container2">

    <hr class="divider">

    <h1 class="titulo2">Nuestros servicios</h1>

    <div class="contenedor">
      <img loading="lazy" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-8.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl">Videovigilancia</div>
        <a class="botonServicio rounded-full" href="/videovigilancia">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-2.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl">Control de Acceso</div>
        <a class="botonServicio rounded-full" href="/control-acceso">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-3-2.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl">IoT y automatización</div>
        <a class="botonServicio rounded-full" href="/iot-automatizacion">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-7.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl">Sistemas de detección de incendio</div>
        <a class="botonServicio rounded-full" href="/deteccion-incendio">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-5.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl">Cableado estructurado y Networking</div>
        <a class="botonServicio rounded-full" href="/cableado-estructurado">
          Conoce más 
        </a> 
    </div> 

    <div class="contenedor">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-6.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl"><p>Distribución de audio y video</p></div>
        <a class="botonServicio rounded-full" href="/distribucion-audio-video">
          Conoce más 
        </a> 
    </div>

</div>

<!-----------------------------------------BODY MAIN---------------------------------------------->
    </main>
</body>
</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style is:global>
/************ NUESTROS SERVICIOS ************/

@media (min-width: 100%) {
    .container2{
        max-width: 100%;
    }
}

.divider {
    margin: 5rem 0;
}

.titulo2{
    display: block;
    text-align: center;
    font-size: 43px;
    margin: 100px;
}

.contenedor{
    position: relative;
    text-align: center;
}

.imagenFondo{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);  /* 60% de brillo */
    height: 493px; 
    padding-bottom: 60px;
}

.centrado{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.botonServicio{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #f47d1f;
    padding: 18px;
    font-weight: bold;
}
</style>