---
import LayoutVideovigilancia from "../layouts/servicios-layout.astro"
---

<!--------------------------------------HTML----------------------------------------------->
<LayoutVideovigilancia>
    <div slot="encabezado">
        <h2 class="text-orange-500 text-base font-bold uppercase mb-2">
            Videovigilancia
        </h2>
        <h1 class="text-4xl lg:text-6xl font-bold mb-4">
            Asegura tus Espacios con Nuestros <br>
            Avanzados Sistemas de Vigilancia en Tiempo Real
        </h1>
        <p class="mt-4 text-gray-600 mb-8 text-lg">
            Instalamos sistemas de videovigilancia de alta calidad que le permiten monitorear y grabar en tiempo real lo que ocurre en sus instalaciones. <br>
            Con software de monitoreo avanzado, puede supervisar sus espacios desde cualquier lugar y en cualquier momento. <br>
        </p>
        <div class="mt-12">
            <img alt="Top view of a workspace with laptops, coffee, and notebooks" class="mx-auto rounded-lg shadow-lg" height="400" src="https://edintel.com/wp-content/uploads/2022/02/cctv.jpg" width="800"/>
        </div>
    </div>

<!--------------------------------------- VIDEOS APLICATIVOS --------------------------------------------->
    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1729827422/ydx9s22ieepjidv0afpk.mp4" type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        
        <h2 class="text-xl font-semibold">
            Control Center 7
        </h2>
        <p class="text-justify">
            Sistema de gestión de video con IA para seguridad avanzada. Permite actualizaciones para mayor búsqueda.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730146425/kruj5x3llz6v8zfz77vw.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            Cámara H6A, H6X
        </h2>
        <p class="text-justify">
            Cámaras de seguridad con IA, sin micrófono, IR de largo alcance y protección contra impactos.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730146535/jungs6swhhjxglkib2xq.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            WiseNet X Series
        </h2>
        <p class="text-justify">
            Cámaras con IA, WDR de 150dB, estabilización giroscópica y comprensión avanzada.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730146902/nbahzvzzan6stcv3dxot.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            Smart Video Search
        </h2>
        <p class="text-justify">
            Sistema de gestión de video con IA para seguridad avanzada. Permite actualizaciones para mayor búsqueda.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730147117/yvs1a0ehirehtx7njiws.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            H5A Multisensor
        </h2>
        <p class="text-justify">
            Cámaras de seguridad con IA, sin micrófono, IR de largo alcance y protección contra impactos.
        </p>
    </div>

    <div slot="videos" class="text-center">
        <video class="w-full h-auto mb-4" controls>
            <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730147149/rsdxfufv0hlamgvf4pcs.mp4 " type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <h2 class="text-xl font-semibold">
            Cámara TNO 7180RLP
        </h2>
        <p class="text-justify">
            Cámaras con IA, WDR de 150dB, estabilización giroscópica y comprensión avanzada.
        </p>
    </div>

<!--------------------------------------- NAVEGACIÓN --------------------------------------------->
    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/control-acceso">
        Control de Acceso
        <i class="ri-arrow-right-line"></i>
    </a> 

</LayoutVideovigilancia>


