---
import cloudinary from 'cloudinary-video-player';
import "cloudinary-video-player/cld-video-player.min.css";
---

<!--------------------------------------SCRIPT----------------------------------------------->
<script>
    import Swiper from 'swiper';
    import 'swiper/css';
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";

    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css'

    // Configurar Photoswipe
    const lightbox = new PhotoSwipeLightbox({
        gallery: "#my-slider",
        children: 'a',
        pswpModule: () => import('photoswipe')
    })
    lightbox.init();

    // Configurar Swiper
    const swiper = new Swiper(".swiper", {
        modules: [Navigation], // Definir los módulos a usar
        loop: true,            // Definir el bucle para los slides
        
        // Hacer el slider Reactive
        slidesPerView: "auto",      // Agregar un número de slides en pantalla
        spaceBetween: 20,      // Separación de los slides en pixeles
        breakpoints: {
            // Cuando la pantalla es >= 768px
            768: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            // Cuando la pantalla es >= 1024px
            1024:{
                slidesPerView: 3,
                spaceBetween: 40
            }
        },

        navigation: {          // Definir botones next y prev para Navigation
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next"
        }
    });
</script>

<!--------------------------------------HTML----------------------------------------------->
<!-- CONTENEDOR PRINCIPAL DE SWIPER -->
<div class="swiper">
    <div class="swiper-wrapper" id="my-slider">
        <!-- SLIDES -->
        <a class="swiper-slide"
            href="https://www.adobe.com/creativecloud/photography/discover/media_131179edca5f92db203e2b78cb8a308605afbc958.png?width=750&format=png&optimize=medium"
            data-pswp-width="800" data-pswp-height="600"
            target="_blank"
            data-cropped="true"
        > 
            <img src="https://www.adobe.com/creativecloud/photography/discover/media_131179edca5f92db203e2b78cb8a308605afbc958.png?width=750&format=png&optimize=medium" alt="">
        </a>

        <a class="swiper-slide"
            href="https://media.gettyimages.com/id/961738524/photo/pretty-eyes.jpg?s=612x612&w=gi&k=20&c=zxRk2eTSy3vOQxLu5qMdHx0NkxXJMFeH9zWxP_9Zopc="
            data-pswp-width="800" data-pswp-height="600"
            target="_blank"
            data-cropped="true"
        >
            <img src="https://media.gettyimages.com/id/961738524/photo/pretty-eyes.jpg?s=612x612&w=gi&k=20&c=zxRk2eTSy3vOQxLu5qMdHx0NkxXJMFeH9zWxP_9Zopc=" alt="">
        </a>

        <a class="swiper-slide"
            href="https://alphaenginyeria.com/wp-content/uploads/2022/08/Tipos-de-redes.webp"
            data-pswp-width="800" data-pswp-height="600"
            target="_blank"
            data-cropped="true"
        >
            <img src="https://alphaenginyeria.com/wp-content/uploads/2022/08/Tipos-de-redes.webp" alt="">
        </a>
    </div>

    <!-- PAGINACIÓN 
    <div class="swiper-pagination"></div>-->

    <!-- BOTONES DE NAVEGACIÓN -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- SCROLLBAR
    <div class="swiper-scrollbar"></div>-->
</div>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style>
    .swiper-slide {
        height: 800px;
        border-radius: 10px;
        overflow: hidden;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
    }
    
</style>

