---
import '@fontsource/ibm-plex-sans';

import '@fontsource-variable/open-sans';
---

<!--------------------------------------HTML----------------------------------------------->
<html>

<body class="bg-white">

<!------------------------------------------------------ NUESTROS CLIENTES ------------------------------------------------------>
<div class="container3">

    <hr class="divider">

    <h1 class="titulo3 font-medium">Nuestros Clientes</h1>

    <div class="container mx-auto px-4">
      <div class="grid grid-cols-4 md:grid-cols-4 sm:grid-cols-2 xs:grid-cols-1 gap-4 p-4">

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-48" src="../../public/images/empresas/logo1.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-36" src="../../public/images/empresas/logo2.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-52" src="../../public/images/empresas/logo3.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-28" src="../../public/images/empresas/logo4.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-32" src="../../public/images/empresas/logo5.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-16" src="../../public/images/empresas/logo6.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-20" src="../../public/images/empresas/logo7.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-36" src="../../public/images/empresas/logo8.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-20" src="../../public/images/empresas/logo9.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-40" src="../../public/images/empresas/logo10.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-20" src="../../public/images/empresas/logo11.png" alt="">
        </div>

        <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-28" src="../../public/images/empresas/logo12.png" alt="">
        </div>

      </div>
    </div>
</div>

<!------------------------------------------------------ PROVEEDORES ------------------------------------------------------>
<div class="container3">

    <hr class="divider">

    <h1 class="titulo3 font-medium">Soporte de múltiples <br>
        proveedores</h1>

    <div class="container mx-auto px-4">
        <div class="grid grid-cols-4 md:grid-cols-4 sm:grid-cols-2 xs:grid-cols-1 gap-4 p-4">

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-28" src="../../public/images/proveedores/logo13.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-14" src="../../public/images/proveedores/logo14.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-16" src="../../public/images/proveedores/logo15.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src="../../public/images/proveedores/logo16.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-16" src="../../public/images/proveedores/logo17.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src="../../public/images/proveedores/logo18.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-28" src="../../public/images/proveedores/logo19.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src="../../public/images/proveedores/logo20.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-20" src="../../public/images/proveedores/logo21.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-36" src="../../public/images/proveedores/logo22.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-16" src="../../public/images/proveedores/logo23.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-11" src="../../public/images/proveedores/logo24.png" alt="">
            </div>
            
            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-36" src="../../public/images/proveedores/logo25.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-12" src="../../public/images/proveedores/logo26.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-20" src="../../public/images/proveedores/logo27.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-20" src="../../public/images/proveedores/logo28.png" alt="">
            </div>
            
            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-28" src="../../public/images/proveedores/logo29.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-14" src="../../public/images/proveedores/logo30.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src="../../public/images/proveedores/logo31.png" alt="">
            </div>

            <div class="flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src="../../public/images/proveedores/logo32.png" alt="">
            </div>

        </div>
    </div>
</div>

<!-----------------------------------------BODY MAIN---------------------------------------------->
    </main>
</body>
</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style is:global>
/************ NUESTROS SERVICIOS ************/

.divider {
    margin: 2rem 0;
}

.titulo2{
    display: block;
    text-align: center;
    font-size: 43px;
    margin: 100px;
}

.contenedor{
    position: relative;
    text-align: center;
}

.imagenFondo{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);  /* 60% de brillo */
    height: 493px; 
    padding-bottom: 60px;
}

.centrado{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: white;
}

.botonServicio{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #f47d1f;
    padding: 18px;
    font-weight: bold;
}
</style>