---
import '@fontsource/ibm-plex-sans';

import '@fontsource-variable/open-sans';

import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";

---

<!--------------------------------------HTML----------------------------------------------->
<html>

<head>
    <title>
        Block Security
    </title>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-white">

    <!-- Header -->
    <header class="text-center py-8">
        <img alt="" class="mx-auto" height="100" src="../../public/images/logo.png" width="300px" />
    </header>

<!------------------------------------------------------ INTERFAZ ------------------------------------------------------>
<main>
    <section class="relative">
        <div class="relative inset-0 flex items-center justify-center text-center text-black">
            <div>
                <h1 class="tituloVv">Videovigilancia</h2>
                    <p class="mt-4 text-lg">
                        Instalamos sistemas de videovigilancia de alta calidad que le <br>
                        permiten monitorear y grabar en tiempo real lo que ocurre en sus <br>
                        instalaciones. <br>
                        Con software de monitoreo avanzado, puede supervisar <br>
                        sus espacios desde cualquier lugar y en cualquier momento. <br>
                    </p>
            </div>
        </div>
    </section>


<!------------------------------------------------------ FOOTER ------------------------------------------------------>
<div class="pie">
    <footer class="container">
    <p class="float-end"><a href="#">Regresar al principio</a></p>
    <p>&copy; 2024 Block Security. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos</a></p>
    </footer>
</div>


<!-----------------------------------------BODY MAIN---------------------------------------------->
    </main>
</body>

</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style is:global>

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 100%) {
    .container2{
        max-width: 100%;
    }
}

/******************** NAVBAR ***************** */
.hidden {
    display: none;
}

/******************** TITULO *******************/
.tituloVv{
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 30px;
    font-weight: bold;
}

.descripcion{

}

</style>